# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* List languages and libraries used in data science
* List some Data Science Tools
* Show examples of evaluating arithmetic expressions in Python

Commonly used languages for data science are:
1. Python
2. R
3. SQL

Some of the libraries used by data scientists are:
1. ggplot2
2. matplot
3. seaborn

|Data Science Tool|
|-----------------|
|Jupyter Notebook|
|GitHub|
|R Studio|

### This are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a arithmetic expression in Python
(3*4)+5

17

In [10]:
# this will convert 200 minutes to hours
m = 200
h = m/60
print(h)

3.3333333333333335

## Author:
Jose Filadelfo Rodriguez